:root {
    --primary-color: #272343;
    --secondary-color: #bae8e8;
    --tertiary-color: #e3f6f5;
}

h1 {
    color: var(--primary-color);
    position: relative;
    top: 0.75em;
}

h2 {
    color: var(--secondary-color);
    position: relative;
    top: 1em;
}

a {
    color: var(--primary-color);
    font-size: large;
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.site_header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    background-color: var(--secondary-color);
}

.main-header {
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--tertiary-color);
}

li {
    float: left;
    padding: 12px;
    text-align: center;
}

.main {
    margin-left: 20px;
    margin-right: auto;
    line-height:1.75em
}

.mainImageDiv {
    padding: 10px;
}

.mainImage {
    display: block;
    margin: auto;
    max-width: 90%;
    height: auto;
}

footer {
    text-align: center;
    color: #8f8f8f;
    margin-top: 10px;
    padding: 10px;
}

#project-list {
    text-align: center;
}


.project {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: auto auto;
    margin: 5%;
}

.project-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.28);
}