#project-list {
    display: flexbox;
    align-content: space-around;
}


.project {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: auto auto;
    padding-bottom: 5%;
    margin: 5%;
    background-color: var(--tertiary-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.28);
}

.project-title {
    text-align: center;
    position: initial;
}

.project-img {
    display: block;
    margin: auto;
    height: auto;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.28);
}
