#project-list {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: space-around;
}


.project {
    display: grid;
    grid-template-areas: "title title title"
                        "image desc desc"
                        "link desc desc"
                        "button desc desc";
    grid-template-columns: fr1 fr2/3;
    grid-template-rows: auto auto auto 50px;
    max-width: 40%;
    padding-bottom: 10px;
    margin: 5%;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.28);
}

.project-button {
    grid-area: button;
    background: var(--secondary-color);
    text-align: center;
    align-self: center;
    margin: 5px;
    border-radius: 10px;
}

.project-button a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.project-button a :hover {
    color: var(--quartertiary-color);
    text-decoration: underline;
}

@media (max-width: 750px) {
    #project-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project {
        grid-template-areas: "image title title"
                            "desc desc desc"
                            "link link link"
                            "button button button";
       max-width: 90%;
       text-align: justify;
    }

    .project-text {
        padding-left: 1.5em;
    }

    .project-title {
        margin-bottom: 10%;
    }
}

.project-title {
    grid-area: title;
    text-align: center;
    position: initial;
    text-decoration: none;
}

.project-link {
    grid-area: link;
    margin: auto;
    padding: 5%;
}

.project-img {
    grid-area: image;
    display: block;
    margin: auto;
    height: auto;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.28);
}

.project-text {
    grid-area: desc;
    padding-right: 10%;
    line-height: 1.5rem;
}
