#project-list {
    display: flexbox;
    align-content: space-around;
}


.project {
    display: grid;
    grid-template-areas: "title title title"
                        "image desc desc"
                        "link desc desc";
    grid-template-columns: fr1 fr2/3;
    grid-template-rows: auto auto auto;
    padding-bottom: 5%;
    margin: 5%;
    background-color: #D0D0D0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.28);
}

.project-title {
    grid-area: title;
    text-align: center;
    position: initial;
}

.project-link {
    grid-area: link;
    margin: auto;
    padding: 5%;
}

.project-img {
    grid-area: image;
    display: block;
    margin: auto;
    height: auto;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.28);
}

.project-text {
    grid-area: desc;
    padding-right: 10%;
}
